*~
*.o
*.lo
*.la
*.bak
*.gir
*.stamp
*.typelib
*.enums.xml
*.gschema.valid
.deps
.libs
.dirstamp
.*.sw[op]
stamp-*

cscope.out
tags

Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/*.m4
missing
gnome-autoar-*.tar.*

gnome-autoar/*-enum-types.[ch]
gnome-autoar/gnome-autoar.pc
gnome-autoar/gnome-autoar-gtk.pc

tests/test-extract
tests/test-extract-unit
tests/test-extract-memory
tests/test-create
tests/test-pref
tests/test-ui

docs/reference/html
docs/reference/xml
docs/reference/*.args
docs/reference/*.hierarchy
docs/reference/*.interfaces
docs/reference/*.prerequisites
docs/reference/*.signals
docs/reference/*.txt
docs/reference/*.types
